id: alfabank-cors-misconfiguration

info:
  name: Alfabank - CORS Misconfiguration
  author: bugbounty
  severity: medium
  description: CORS misconfiguration allowing arbitrary origins
  tags: cors,alfabank

http:
  - raw:
      - |
        GET /api/v1/warden/map/offices HTTP/1.1
        Host: {{Hostname}}
        Origin: https://evil.com

      - |
        GET /api/v2/geo-facade/cities HTTP/1.1
        Host: {{Hostname}}
        Origin: https://evil.com

      - |
        GET /api/public/courses/list HTTP/1.1
        Host: {{Hostname}}
        Origin: https://evil.com

    matchers-condition: and
    matchers:
      - type: word
        part: header
        words:
          - "Access-Control-Allow-Origin: https://evil.com"
          - "Access-Control-Allow-Credentials: true"
