name: CI (Tests)

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    name: Run Pytest
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Tests
      run: |
        pytest tests/ -v
  deploy:
      name: Deploy to Local Kali
      needs: test
      runs-on: self-hosted

      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Rebuild and restart API container
          run: |
            docker-compose build api
            docker-compose up -d --no-deps api

        - name: Cleanup old images
          run: |
            docker image prune -f

        - name: Check API Status
          run: |
            docker-compose ps api
            docker-compose logs --tail=20 api